<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Face Detection</title>
</head>
<body>
<div class="main">
   <nav class="navbar">
       <a class="navbar-brand">RoboVision</a>
   </nav>
   <section>
       <button class="btn-primary m-3">Recalibrate</button>
       <button class="btn-primary m-3">Begin</button>
       <button class="btn-primary m-3">Finish</button>
   </section>
</div>
    <img src="{{ url_for('video_feed') }}" alt="Face Detection">
<div class="space"></div>
</body>
</html>
